{% extends 'base.html.twig' %}

{% block title %}Création de dossier{% endblock %}

{% block body %}
    {{ form_start(formDirectory) }}
    {{ form_row(formDirectory.name) }}
    <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(formDirectory) }}

{% endblock %}
